@model P1_EDD_DAVH_AFPE.Models.PacientModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Confirmar</h1>

<h3>¿Está seguro de que la persona descrita fue vacunada?</h3>
<div>
    <h4>PacientModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Nombre:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            Apellido:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            DPI / Certificado de nacimiento
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DPI)
        </dd>
        <dt class = "col-sm-2">
            Departamento:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Department)
        </dd>
        <dt class="col-sm-2">
            Municipio:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.municipality)
        </dd>
        <dt class = "col-sm-2">
            Prioridad:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => P1_EDD_DAVH_AFPE.Models.Data.Singleton.Instance.priorities.Get(model.priority))
        </dd>
        <dt class = "col-sm-2">
            Horario de turno:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.schedule)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Marcar como vacunado" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
