@model IEnumerable<DataStructures.HeapNode<PacientModel>>
@{
    ViewData["Title"] = "Simulation";
}

<h1>Simulation</h1>

<h2>Waiting List</h2>



<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                DPI / Birthday Certificate
            </th>
            <th>
                Department
            </th>
            <th>
                Municipality
            </th>
            <th>
                Priority
            </th>
            <th>
                Schedule:
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.value.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.value.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.value.DPI)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.value.Department)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.value.municipality)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.value.priority)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.value.schedule)
                </td>
                <td>
                    @Html.ActionLink("Vaccinated", "Delete", new { item.value })
                    @Html.ActionLink("Did not assist", "Reschedule", new { item.value }) |
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Index">Back to main menu</a>