@model IEnumerable<DataStructures.HeapNode<PacientModel>>
@{
    ViewData["Title"] = "Simulation";
}

<h1>Simulación de Citas</h1>


@Html.ActionLink("Reasignar fecha al primero en la lista", "NotAssist") |
@Html.ActionLink("Vacunar al primero en la lista", "Delete")

<table class="table">
    <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Apellido
            </th>
            <th>
                DPI / Certificado de Nacimiento
            </th>
            <th>
                Departamento
            </th>
            <th>
                Municipio
            </th>
            <th>
                Prioridad
            </th>
            <th>
                Horario:
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.value.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.value.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.value.DPI)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.value.Department)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.value.municipality)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.value.priority)
                </td>
                <td>
                    @if (item.value.schedule.CompareTo(new DateTime()) != 0)
                    {
                        @Html.DisplayFor(modelItem => item.value.schedule)
                    }
                    else
                    {
                        <p>No asignado todavía</p>
                    }
                </td>
            </tr>
        }

    </tbody>
</table>

<a asp-action="Index">Regresar al menú</a>