@model IEnumerable<P1_EDD_DAVH_AFPE.Models.PacientModel>
@{
    ViewData["Title"] = "Simulation";
}

<h1>Simulación de Citas</h1>


@Html.ActionLink("Reasignar fecha al primero en la lista", "NotAssist") |
@Html.ActionLink("Vacunar al primero en la lista", "Delete")

<table class="table">
    <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Apellido
            </th>
            <th>
                DPI / Certificado de Nacimiento
            </th>
            <th>
                Departamento
            </th>
            <th>
                Municipio
            </th>
            <th>
                Prioridad
            </th>
            <th>
                Horario:
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DPI)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Department)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.municipality)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.priority)
                </td>
                <td>
                    @if (item.schedule.CompareTo(new DateTime()) != 0)
                    {
                        @Html.DisplayFor(modelItem => item.schedule)
                    }
                    else
                    {
                        <p>No asignado todavía</p>
                    }
                </td>
            </tr>
        }

    </tbody>
</table>
@if (TempData["testmsg"] != null)
{
    <script type="text/javascript">
       alert("@TempData["testmsg"]");
    </script>
}

<a asp-action="Index">Regresar al menú</a>