@model IEnumerable<DataStructures.HeapNode<string>>
@using P1_EDD_DAVH_AFPE.Models.Data 
@{
    ViewData["Title"] = "SIndex";
}

<h1>Waiting List</h1>

<a asp-action="Index">Back to main menu</a>

<table class="table">
    <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Apellido
            </th>
            <th>
                DPI / Partida de nacimiento
            </th>
            <th>
                Departamento
            </th>
            <th>
                Municipio
            </th>
            <th>
                Prioridad
            </th>
            <th>
                Edad
            </th>
            <th>
                Horario
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.value)
                </td>
                <td>
                    
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DPI)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Department)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.municipality)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.priority)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.schedule)
                </td>
                <td>
                <td>
                    @Html.ActionLink("Vaccinated", "Delete", new { item.DPI })
                    @Html.ActionLink("Did not assist", "Reschedule", new { item.DPI }) |
                </td>
                </td>
            </tr>
        }
    </tbody>
</table>
