@model IEnumerable<DataStructures.HeapNode<PacientModel>>
@using P1_EDD_DAVH_AFPE.Models.Data


<h1>Lista de espera</h1>

<a asp-action="Index">Regresar a menu principal</a>

<table class="table">
    <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Apellido
            </th>
            <th>
                DPI / Partida de nacimiento
            </th>
            <th>
                Departamento
            </th>
            <th>
                Municipio
            </th>
            <th>
                Prioridad
            </th>
            <th>
                Horario
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.value.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.value.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.value.DPI)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.value.Department)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.value.municipality)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.value.priority)
                </td>
                <td>
                    @if (item.value.schedule.CompareTo(new DateTime()) != 0)
                    {
                        @Html.DisplayFor(modelItem => item.value.schedule)
                    }
                    else
                    {
                        <p>No asignado todavía</p>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
