@model P1_EDD_DAVH_AFPE.Models.PacientModel

@{
    ViewData["Title"] = "VaccinatedCheck";
}

<h1>Por favor, revise los datos antes de marcar como vacunado al paciente</h1>

<div>
    <h4>Datos</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Nombre:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            Apellido:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            DPI / Partida de nacimiento
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DPI)
        </dd>
        <dt class = "col-sm-2">
            Departamento:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Department)
        </dd>
        <dt class = "col-sm-2">
            Municipio:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.municipality)
        </dd>
        <dt class = "col-sm-2">
            Prioridad:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.priority)
        </dd>
        <dt class = "col-sm-2">
            Horario de cita:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.schedule)
        </dd>        
    </dl>
</div>
<div>
    @Html.ActionLink("Marcar como vacunado", "Vaccinated") |
    <a asp-action="Simulation">Regresar a la lista</a>
</div>
